#wrapper_div {
    display: flex;
    margin: 0;
    width: 1920px;
    height: 1080px;
    background-image: url('Images/BrokenSol.tif');
    background-size: cover;
}

.gui {
    display: inline-flex;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}